* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid {
    display: grid;
    height: 50vh;
    width: 50vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-content {
    border: 1px solid black;
    font-size: 100px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-none {
    border-top: none;
}

.right-none {
    border-right: none;
}

.left-none {
    border-left: none;
}

.bottom-none {
    border-bottom: none;
}

.grid-content:hover {
    background-color: rgba(173, 216, 230, 0.504);
}

.flex-item {
    margin-top: 20px;
}

.hide {
    display: none;
}

header, footer,p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}